In [ ]:
# Homework 1. Daniil Morozkov. 09/05/2023.

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# upload data
df_BND = pd.read_csv('BND.csv')
df_SPY = pd.read_csv('SPY.csv')

In [3]:
# making sure that the resulting dataframes are indexed by date
df_BND.set_index('Date', inplace=True)
df_SPY.set_index('Date', inplace=True)

In [4]:
# extract the needed columns
df_BND = df_BND[['Open','Close','Adj Close']]
df_SPY = df_SPY[['Open','Close','Adj Close']]
df_BND, df_SPY

(                 Open      Close  Adj Close
 Date
 2007-04-10  75.070000  75.239998  45.815971
 2007-04-11  75.160004  75.040001  45.694145
 2007-04-12  75.059998  75.029999  45.688072
 2007-04-13  75.040001  74.910004  45.615028
 2007-04-16  74.989998  74.980003  45.657650
 ...               ...        ...        ...
 2023-08-21  70.610001  70.529999  70.529999
 2023-08-22  70.550003  70.620003  70.620003
 2023-08-23  70.980003  71.260002  71.260002
 2023-08-24  71.150002  71.089996  71.089996
 2023-08-25  71.010002  71.089996  71.089996

 [4125 rows x 3 columns],
                   Open       Close   Adj Close
 Date
 1993-01-29   43.968750   43.937500   25.029371
 1993-02-01   43.968750   44.250000   25.207384
 1993-02-02   44.218750   44.343750   25.260788
 1993-02-03   44.406250   44.812500   25.527826
 1993-02-04   44.968750   45.000000   25.634632
 ...                ...         ...         ...
 2023-08-21  437.549988  439.339996  439.339996
 2023-08-22  441.179993  438.149994  438.149994
 2023-08-23  439.250000  443.029999  443.029999
 2023-08-24  444.690002  436.890015  436.890015
 2023-08-25  438.679993  439.970001  439.970001

 [7699 rows x 3 columns])

In [5]:
# Create a new dataframe that contains the open, close, and adjusted close prices for both SPY and BND on the dates for which there is data for SPY
df_merged = df_BND.merge(df_SPY, left_on=df_BND.index, right_on=df_SPY.index, suffixes=('_BND', '_SPY'))

In [6]:
# Display the top 10 rows of the dataframe
df_merged.head(10)

,key_0,Open_BND,Close_BND,Adj Close_BND,Open_SPY,Close_SPY,Adj Close_SPY
0,2007-04-10,75.070000,75.239998,45.815971,144.330002,144.610001,105.394196
1,2007-04-11,75.160004,75.040001,45.694145,144.820007,144.020004,104.964134
2,2007-04-12,75.059998,75.029999,45.688072,143.740005,144.660004,105.430611
3,2007-04-13,75.040001,74.910004,45.615028,144.899994,145.320007,105.911636
4,2007-04-16,74.989998,74.980003,45.657650,145.830002,146.699997,106.917336
5,2007-04-17,75.160004,75.169998,45.773342,146.970001,147.089996,107.201607
6,2007-04-18,75.250000,75.309998,45.858589,146.600006,147.270004,107.332817
7,2007-04-19,75.360001,75.279999,45.840321,146.550003,147.229996,107.303627
8,2007-04-20,75.300003,75.260002,45.828156,148.220001,148.619995,108.316711
9,2007-04-23,75.279999,75.360001,45.889053,148.369995,148.059998,107.908585

In [7]:
# Display set of summary statistics (mean and SD, etc.) for the entire dataframe using the ‘describe’ command
df_merged.describe()

,Open_BND,Close_BND,Adj Close_BND,Open_SPY,Close_SPY,Adj Close_SPY
count,4125.000000,4125.000000,4125.000000,4125.000000,4125.000000,4125.000000
mean,80.850211,80.846104,65.417528,226.837542,226.865413,204.232670
std,3.844160,3.843403,9.841907,106.421845,106.446608,113.173953
min,69.139999,69.379997,44.925869,67.949997,68.110001,51.568031
25%,78.730003,78.750000,58.471199,136.160004,136.289993,106.437988
50%,81.370003,81.370003,66.215630,204.440002,204.839996,176.826675
75%,83.519997,83.510002,71.507721,290.000000,289.809998,269.911499
max,89.550003,89.480003,83.170212,479.220001,477.709991,466.563324

In [8]:
# 2. Load data from the BND.csv file into a Pandas dataframe
df_BND = pd.read_csv('BND.csv')

In [9]:
# check if it is ok
df_BND

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-04-10,75.070000,75.260002,75.000000,75.239998,45.815971,35000
1,2007-04-11,75.160004,75.290001,75.029999,75.040001,45.694145,87700
2,2007-04-12,75.059998,75.080002,74.959999,75.029999,45.688072,78100
3,2007-04-13,75.040001,75.070000,74.849998,74.910004,45.615028,18000
4,2007-04-16,74.989998,74.989998,74.940002,74.980003,45.657650,52700
...,...,...,...,...,...,...,...
4120,2023-08-21,70.610001,70.639999,70.449997,70.529999,70.529999,4280100
4121,2023-08-22,70.550003,70.690002,70.480003,70.620003,70.620003,4302200
4122,2023-08-23,70.980003,71.269997,70.970001,71.260002,71.260002,5205800
4123,2023-08-24,71.150002,71.250000,71.070000,71.089996,71.089996,4186400
4124,2023-08-25,71.010002,71.220001,70.860001,71.089996,71.089996,4853100

In [10]:
# a. The 1000th row of the dataframe
df_BND.iloc[999,:]

Date         2011-03-25
Open          80.360001
High          80.389999
Low           80.120003
Close             80.18
Adj Close     57.420677
Volume           727400
Name: 999, dtype: object

In [11]:
# b. The row of the dataframe corresponding to 6/4/2010.
df_BND.loc[df_BND['Date']=='2010-06-04']

           Date   Open       High        Low      Close  Adj Close   Volume
795  2010-06-04  80.32  80.470001  80.239998  80.339996  55.876057  2046300

In [12]:
# c. The closing price of BND on 6/4/2010.
df_BND['Close'].loc[df_BND['Date']=='2010-06-04']

795    80.339996
Name: Close, dtype: float64

In [13]:
# d. The first 5 days of open, close, and adjusted close prices from the year 2010.
df_BND[['Date','Open','Close','Adj Close']].loc[df_BND['Date']>='2010-01-01'].head(5)

           Date       Open      Close  Adj Close
690  2010-01-04  78.599998  78.680000  53.897469
691  2010-01-05  78.889999  78.910004  54.055008
692  2010-01-06  78.970001  78.879997  54.034443
693  2010-01-07  78.720001  78.820000  53.993355
694  2010-01-08  78.879997  78.900002  54.048168

In [14]:
# e. The average close and adjusted close prices on the days in which the BND close was greater than $85. 
df_BND[['Close','Adj Close']].loc[df_BND['Close']>85].mean()

Close        86.797783
Adj Close    80.688729
dtype: float64

In [15]:
# 3. Load data from the SPY.csv file into a dataframe.  
df_SPY = pd.read_csv('SPY.csv')

In [16]:
df_SPY

,Date,Open,High,Low,Close,Adj Close,Volume
0,1993-01-29,43.968750,43.968750,43.750000,43.937500,25.029371,1003200
1,1993-02-01,43.968750,44.250000,43.968750,44.250000,25.207384,480500
2,1993-02-02,44.218750,44.375000,44.125000,44.343750,25.260788,201300
3,1993-02-03,44.406250,44.843750,44.375000,44.812500,25.527826,529400
4,1993-02-04,44.968750,45.093750,44.468750,45.000000,25.634632,531500
...,...,...,...,...,...,...,...
7694,2023-08-21,437.549988,440.109985,435.320007,439.339996,439.339996,68719000
7695,2023-08-22,441.179993,441.179993,437.570007,438.149994,438.149994,65062900
7696,2023-08-23,439.250000,443.670013,439.100006,443.029999,443.029999,68441000
7697,2023-08-24,444.690002,445.220001,436.859985,436.890015,436.890015,88517300
7698,2023-08-25,438.679993,441.299988,435.000000,439.970001,439.970001,102297000

In [17]:
# a. Compute and display the average rate of return over the daytime period (open-to-close), and the nighttime period (close-to-open).
df_SPY['Daytime_Return'] = (df_SPY['Close'] - df_SPY['Open']) / df_SPY['Open']
df_SPY['Nighttime_Return'] = (df_SPY['Open'].shift(-1) - df_SPY['Close']) / df_SPY['Close']
df_SPY['Full-Day_Return'] = (df_SPY['Close'].shift(-1) - df_SPY['Close']) / df_SPY['Close']
df_SPY['Full-Day_Adj_Return'] = (df_SPY['Adj Close'].shift(-1) - df_SPY['Adj Close']) / df_SPY['Adj Close']

In [18]:
# b. Compute and display the average full-day return using close-to-close prices
# c. Compute and display the average full-day return using adjusted close-to-adjusted close prices. 
df_SPY['Full-Day_Return'].mean(), df_SPY['Full-Day_Adj_Return'].mean()

(0.00037004848314452254, 0.000442885501665994)

d. In a markdown cell, write a short explanation of why the numbers from b (close-to-close) and c (adjusted close to adjusted close) are different. 

Close to close represent the raw closing values of a stock on consecutive days, without any adjustments. On the contrary, adjusted close to adjusted close accounts for events like dividends, stock splits, and new stock offerings. Therefore, when we compare adjusted close values from one day to another, we're taking into consideration any corporate actions that might have changed the intrinsic value of each share making the final average full day return greater.